<form>
  <div>
    <span class="parameter" style="display: none">CRT Filter:
      <select name="crtFilter">
        <option value="off">Off</option>
        <option value="basic">Basic</option>
        <option value="epilepsy">Epilepsy</option>
      </select></span>
    <span class="parameter">Syntax:
      <select name="syntax">
        <option value="icmc">ICMC</option>
        <option value="giroto">Giroto</option>
      </select></span>
    <span class="parameter">Screen size:
      <input type="number" min="1" max="128" value="40" name="screenWidth" />&Cross;<input type="number" min="0"
        max="200" value="30" name="screenHeight" /></span>
    <span class="parameter">Grid size:
      <input type="number" min="1" max="128" value="30" name="gridWidth" />&Cross;<input type="number" min="0"
        max="200" value="30" name="gridHeight" /></span>
  </div>
</form>
